h1{
	text-align: center;
	font-family: arial, sans-serif;
	margin-top: 15;
	}
img{
	width: 95px;
	height: 110px;
	position: absolute; 
    left: 10px;         
    top: 325px;     
}
img.player2{
	width: 95px;
	height: 110px;
	position: absolute; 
    left: 1800px;         
    top: 325px;     
}
html{
	background-color: black;
	}
p{
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 800;
	font-size: 18;
	/*text-align: center;*/
}
.titre{
	font-weight: 800;
	margin-right: 10;
}
.contenant{
	font-weight: 100;
	margin-right: 10;
}
table{
	text-align: center;
	border-spacing: 5px;
}
h2.test{
	font-size: 1.2rem;;
	text-align: left;
}
